# Dependencies
node_modules/

# Build artifacts
build/
dist/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
thumbs.db

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.*